# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Project specific
/tmp
/frontend/main.wasm
/frontend/wasm_exec.js
air_errors.log

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Debug
debug/
debug.test

# Dependencies
/vendor/ 